<div class="card w-60">
<h2>Адинистрирование</h2>
<p><a asp-controller="UserAdmin" asp-action="Index">Управление пользователями</a></p>
<p><a asp-controller="ExerciseAdmin" asp-action="Index">Управление упражнениями</a></p>
<p><a asp-controller="UserExerciseAdmin" asp-action="Index">Упражнения пользователей</a></p>
</div>
