<div class="card w-60">
<h2>Авторизация</h2>
<form asp-action="Login" asp-controller="Login">
    <p>
        <label>Логин</label><br />
        <input type="text" name='login' />
    </p>
    <p>
        <label>Пароль</label><br />
        <input type='password' name='password' />
    </p>
    <input class="button" type='submit' value='Войти' />
    <a asp-action="Register">Регистрация</a>
</form>
</div>
