@model FastTypingApp.Models.Exercise
<div class="card w-60">
<h2>Изменение Упражнения</h2>
<form asp-action="edit" asp-controller="ExerciseAdmin">
    <p>
        <label asp-for="Name">Название</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Level">Уровень</label><br />
        <input type="number" asp-for="Level" />
    </p>
    <p>
        <label asp-for="ErrorNum">Допустимое число ошибок</label><br />
        <input type="number" asp-for="ErrorNum" />
    </p>
    <p>
        <label asp-for="MaxTime">Допустимое время в секундах</label><br />
        <input type="number" asp-for="MaxTime" />
    </p>
    <p>
        <label asp-for="Text">Текст</label><br />
        <input type="text" asp-for="Text" />
    </p>
    <p>
        <input type="submit" class="button" value="Сохранить" />
    </p>
</form>
</div>